<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MovieEntities" connectionString="metadata=res://*/MovieModel.csdl|res://*/MovieModel.ssdl|res://*/MovieModel.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\Movies.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>